app = 'voidbox'
primary_region = 'atl'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1  # Keep at least one machine running for multiplayer
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

# Optional health checks
[[http_service.http_checks]]
  path = '/'
  interval = 10000
  timeout = 2000
  grace_period = 10000
  method = 'get'
